@import 'bootstrap/dist/css/bootstrap.css';

body {
    background-image: url('../public/madina-logo.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 120px 0 0 0;
    font-family: Arial, sans-serif;
}